@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Red Hat Display', sans-serif;
}

body{
    display: flex;
    align-items: center; 
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    min-width: 18.125rem;
    padding: 2rem;
    background: url(./images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-color: hsl(225, 100%, 94%);
    background-size: 100%;
}

.container{
    max-width: 25.125rem;
    background-color: white;
    border-radius: 1rem;
    margin-bottom: 0.5rem;
}

.child1 img{
    width:100%;
    border-radius:1rem 1rem 0 0;
}

.child2{
    padding: 2rem;
    border-radius:0 0 1rem 1rem;
    box-shadow: 0rem .9375rem 1.25rem -1.125rem hsl(224, 23%, 55%);
}

.header{
    padding: 0 2rem 0 2rem;
    text-align: center;
}
.header .title{
    margin-bottom: 1rem;
    font-weight: 900;
    font-size: 30px; 
    color: hsl(223, 47%, 23%);
}
.header p{
    line-height: 1.5rem;
    color: hsl(224, 23%, 55%);
}

.plan-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.25rem;
    padding: 1.625rem;
    background-color: hsl(225, 100%, 98%);
    border-radius: 0.5rem;
    margin-top: 1rem;
}

.plan{
    display: flex;
    align-items: center;
    gap: 0.625rem;
}

.price p{
    color:hsl(223, 47%, 23%);
    font-weight: 900;
}

.plan-content .change{
    font-weight: 700;
}

.pay{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 2rem 0 0 0;
}

.cancel{
    font-weight: 900;
    color: hsl(224, 23%, 55%);
}

button{
    border-radius: 0.5rem;
    width: 100%;
    padding: 1rem;
    margin-bottom: 2rem;
    background-color:hsl(245, 75%, 52%);
    color: white;
    font-weight:700;
    border-style: none;
    box-shadow: 0rem .9375rem 1.25rem -1.125rem hsl(223, 47%, 23%);
}

.plan-content .change:hover{
    text-decoration: none;
    color: hsl(245, 83%, 68%);
    transition: 0.5s;
}

button:hover{
    cursor: pointer;
    background-color: 	hsl(245, 83%, 68%);
    transition: 0.5s;
}

.cancel:hover{
    cursor: pointer;
    color: hsl(223, 47%, 23%);
    transition: 1s;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (max-width: 430px){
    body{
        background-image: url(./images/pattern-background-mobile.svg);
        padding: 1rem;
    }

    .container{
        max-width: 87%;
    }

    .child2{
        padding:1.5rem;
    }

    .header{
        padding: 1rem;
    }

    .header .title{
        font-size: 25px;
    }

    .plan-content{
        margin-top: 1rem;
        padding: 0.625rem;
    }   
}

@media (max-width: 365px){
    .plan-content{
        margin-top: 1rem;
        flex-direction: column;
    }
}
